/*Base Application Styling*/

body{
    /*Black Application Background*/
    background-color: rgb(4,5,7);
    background-image: linear-gradient(90deg, rgba(4,5,7,1) 0%, rgba(5,11,17,1) 100%);

    /*Default Text Settings*/
    font-family: 'Jost', sans-serif;
    text-align: center;
    align-items: center;
    color: aliceblue;

    border: none;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}    
@keyframes fadeInAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*Option Menu*/

.option-menu{
    padding: 15px;
}